<!DOCTYPE html>
<html lang="es">
<head>
	<title>Electronico Raro / Tienda en línea</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header>
		<div class="title">
			<h1>Electronico Raro</h1>
			<p class="eslogan">Cosas raras para tu computadora</p>
		</div>
		<nav class="menu">
			<ul>
				<li><a href="">Inicio</a></li>
				<li><a href="">Productos</a></li>
				<li><a href="">Ver carrito</a></li>
			</ul>
		</nav>
	</header>
	<div class="contenedor">
		<section class="categorias">
			<a href="">Cables</a>
			<a href="">Cargadores</a>
			<a href="">Protectores</a>
			<a href="">Tablets</a>
			<a href="">USB</a>
			<a href="">Discos Externos</a>
		</section>
		<section class="productos">
			<article class="producto">
				<figure class="contenedorItem">
					<img src="../static/img/cable.jpg" width="100">
				</figure>
				<p class="titleItem">Cable Raro</p>
				<div class="comprarItem"><a href="">Comprar</a></div>
			</article>
		</section>
		<section class="variado">
			<h3>Soy Variado </h3>
		</section>
	</div>
	<footer>
		<p>Hecho por Marco <a href="mailto:marccohrz@gmail.com">Contacto</a></p>
	</footer>
</body>
</html>