<!DOCTYPE html>
<html lang="es">
<head>
	<title>Electronico Raro / Tienda en línea</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
</head>
<body>
	<header>
		<h1>Electronico Raro</h1>
		<p>Cosas raras para tu computadora</p>
		<nav>
			<ul>
				<li><a href="">Inicio</a></li>
				<li><a href="">Productos</a></li>
				<li><a href="">Ver carrito</a></li>
			</ul>
		</nav>
	</header>
	<section class="categorias">
	</section>
	<section class="productos">
	</section>
	<section class="variado">
	</section>
	<footer>
	</footer>
</body>
</html>